@import "normalize.css";
@import "./variable";
@import "./components";
@import "./nodes";

/*基础画布区域*/
.ding-flow_canvas {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.ding-flow_root {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: 0 0;
  //transition: all ease 0.1s;
}
.ding-flow_wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color-bg-1);
  box-sizing: border-box;
}
.ding-flow_container {
  display: flex;
  width: max-content;
  height: max-content;
  padding: var(--common-padding-4);
  overflow: auto;
  box-sizing: border-box;
  align-items: center;
  min-width: 100%;
}
.ding-flow_flex-safe {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.ding-flow_container.ding-flow_vertical {
  flex-direction: column;
  .ding-flow_flex-safe {
    flex-direction: column;
  }
}
.ding-flow_container.ding-flow-horizontal {
  flex-direction: row;
  .ding-flow_flex-safe {
    flex-direction: row;
  }
}

/*流程节点通用*/
.flow-node {
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-border-2);
  position: relative;
  background-color: var(--color-bg-1);
  z-index: 10;
  transition: var(--transision);
  box-sizing: border-box;
  overflow: hidden;
  &:hover {
    > .flow-node__remove {
      visibility: visible;
      opacity: 1;
    }
  }
}
.flow-node__wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: safe center;
  justify-content: safe center;
  .flow-node__movable {
    cursor: move;
  }
}
.flow-node__behavior {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before,
  &::after {
    content: '';
  }
  .flow-node__behavior-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
.ding-flow_container.ding-flow_vertical {
  .flow-node__wrapper {
    flex-direction: column;
  }
  .flow-node__behavior {
    height: 60px;
    &.small-behavior {
      height: 40px;
    }
    &::before {
      height: 100%;
      width: 0;
      margin: 0 auto;
      border-left: 1px solid var(--color-border-2);
      border-right: 1px solid var(--color-border-2);
    }
    &::after {
      height: 0;
      position: absolute;
      bottom: var(--arrow-width);
      left: 50%;
      transform: translate(-50%, 100%);
      border-width: var(--arrow-width);
      border-color: var(--color-border-2) transparent transparent transparent;
      border-style: solid;
    }
  }
}
.ding-flow_container.ding-flow_horizontal {
  .flow-node__wrapper {
    flex-direction: row;
  }
  .flow-node__behavior {
    width: 60px;
    &.small-behavior {
      width: 40px;
    }
    &::before {
      height: 0;
      width: 100%;
      margin: 0 auto;
      border-top: 1px solid var(--color-border-2);
      border-bottom: 1px solid var(--color-border-2);
    }
    &::after {
      position: absolute;
      right: var(--arrow-width);
      top: 50%;
      bottom: var(--arrow-width);
      transform: translate(100%, -50%);
      border-width: var(--arrow-width);
      border-color: transparent transparent transparent var(--color-border-2);
      border-style: solid;
    }
  }
}
.flow-node_header {
  width: 100%;
  height: auto;
  padding: var(--common-padding-1) var(--common-padding-3);
  color: var(--color-text-1);
  border-bottom: 1px solid var(--color-border-2);
  box-sizing: border-box;
}
