@import "normalize.css";
@import "./variable";
@import "./components";
@import "./nodes";

/*基础画布区域*/
.ding-flow_canvas {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--color-bg-1);
}
.ding-flow_root {
  position: absolute;
  transform-origin: 0 0;
}
.ding-flow_root-bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 10000px;
  height: 10000px;
  transform-origin: 0 0;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
.ding-flow_wrapper {
  width: 100%;
  overflow: visible;
  box-sizing: border-box;
  pointer-events: none;
}
.ding-flow_container {
  display: flex;
  width: max-content;
  height: max-content;
  padding: var(--common-padding-4);
  overflow: auto;
  box-sizing: border-box;
  align-items: center;
  min-width: 100%;
}
.ding-flow_flex-safe {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.ding-flow_container.ding-flow_vertical {
  flex-direction: column;
  .ding-flow_flex-safe {
    flex-direction: column;
  }
}
.ding-flow_container.ding-flow-horizontal {
  flex-direction: row;
  .ding-flow_flex-safe {
    flex-direction: row;
  }
}

/*流程节点通用*/
.flow-node {
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-border-3);
  position: relative;
  background-color: var(--color-bg-1);
  z-index: 10;
  transition: var(--transision);
  box-sizing: border-box;
  overflow: hidden;
  &:hover {
    > .flow-node__remove {
      visibility: visible;
      opacity: 1;
    }
  }
}
.flow-node__wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  .flow-node__container.flow-node__movable {
    cursor: move;
  }
  .flow-node__container.flow-node__uncompleted {
    .flow-node {
      box-shadow: 0 0 10px 0 var(--color-danger-light-4);
    }
  }
}
.flow-node__behavior {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  pointer-events: auto;
  &::before,
  &::after {
    content: '';
  }
  .flow-node__behavior-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    &.flow-node__droppable {
      background-color: rgb(var(--success-8));
    }
    &.flow-node__not-droppable {
      background-color: rgb(var(--danger-8));
    }
  }
}
.node-behavior__header {
  font-size: 16px;
}
.node-behavior__btn-grid {
  display: grid;
  gap: 8px 20px;
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr);
  color: var(--color-text-2);
}
.node-behavior__btn {
  cursor: pointer;
  display: flex;
  padding: 8px;
  min-width: 120px;
  border-radius: 10px;
  position: relative;
  color: var(--color-text-1);
  background-color: var(--color-fill-2);
  border-color: transparent;
  align-items: center;
  justify-content: center;
}
.ding-flow_container.ding-flow_vertical {
  .flow-node__wrapper {
    flex-direction: column;
  }
  .flow-node__behavior {
    height: 60px;
    width: 2px;
    &.small-behavior {
      height: 40px;
    }
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--color-line);
    }
    &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      border-top: 10px solid var(--color-line);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      transform: translateX(-5px);
    }
  }
}
.ding-flow_container.ding-flow_horizontal {
  .flow-node__wrapper {
    flex-direction: row;
  }
  .flow-node__behavior {
    width: 60px;
    height: 2px;
    &.small-behavior {
      width: 40px;
    }
    &::before {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: var(--color-line);
    }
    &::after {
      position: absolute;
      right: -1px;
      top: 0;
      bottom: 0;
      border-left: 10px solid var(--color-line);
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      transform: translateY(-5px);
    }
  }
}
.flow-node_header {
  width: 100%;
  height: auto;
  padding: var(--common-padding-1) var(--common-padding-3);
  color: var(--color-text-1);
  box-sizing: border-box;
}
